<p> • Form to fill:
    <br>
    First name, 
    <br>
    last name, 
    <br>
    phone, 
    <br>
    email, 
    <br>
    country,   
    <br>
    state (in case USA is selected), 
    <br>
    city, 
    <br>
    street1, 
    <br>
    street2, 
    <br>
    zip code, 
    <br>
    card   
    <br>
    number, 
    <br>
    CCV, 
    <br>
    exp. date, 
    <br>
    card type (visa/master/etc.) - should be set   automatically after user enters first 4 digits of card number. 
    <br>
    <br>
    • All fields are required. 
    <br>
    • Email, Card number, CCV should be validated. 
    <br>
    • Review order button - redirects to next page. 
   </p>
